description "{{ item.key }}"
rdomain {{ item.value.rdomain }}
wgkey {{ pf_s2s_vpn_secrets[item.key]['wgkey'] }}
wgpeer {{ pf_s2s_vpn_secrets[item.key]['wgpeer'] }} wgendpoint {{ pf_s2s_vpn_secrets[item.key]['wgendpoint'] }} wgaip {{ pf_s2s_vpn_secrets[item.key]['wgaip'] }} wgpsk {{ pf_s2s_vpn_secrets[item.key]['wgpsk'] }} wgpka {{ pf_s2s_vpn_secrets[item.key]['wgpka'] }}
inet {{ pf_s2s_vpn_secrets[item.key]['ip'] }}
!route -T {{ item.value.rdomain }} -n add -inet default -iface {{ pf_s2s_vpn_secrets[item.key]['ip'] | ansible.utils.ipaddr('address') }}
