description "{{ item.key }}"
wgkey {{ pf_ra_vpn_secrets[item.key]['wgkey'] }}
wgport 443

{% for peer in pf_ra_vpn_secrets[item.key]['peers'] -%}
# {{ peer.name }}
wgpeer {{ peer.key }} wgaip {{ peer.ip }}
{% endfor -%}

inet {{ pf_subnets[item.key]['cidr'] | ansible.utils.nthhost(1) }} {{ pf_subnets[item.key]['cidr'] | ansible.utils.ipaddr('netmask') }}
up
