$ORIGIN {{ pf_dns_reverse_zone }}.
$TTL 1d

@ IN SOA {{ pf_dns_soa_master }}. {{ pf_dns_soa_email | replace('@', '.') }}. (
  2     ; serial
  1h    ; refresh
  30m   ; retry
  7d    ; expiration
  1h )  ; minimum

{% for ns in pf_dns_ns -%}
{{ pf_dns_reverse_zone }}. NS {{ ns }}.
{% endfor -%}

{% for key, host in pf_hosts.items() if host.ptr -%}
{{ (host.ip | ansible.utils.ipaddr('address') | split('.'))[pf_dns_reverse_octets:] | reverse | join('.') }} PTR {{ key }}.{{ pf_internal_dns_zone }}.
{% endfor -%}
