# $OpenBSD: unbound.conf,v 1.7 2016/03/30 01:41:25 sthen Exp $

server:
        {% for key, subnet in pf_subnets.items() if 'dns' in subnet.services -%}
        interface: {{ subnet.cidr | ansible.utils.nthhost(1) }}
        {% endfor -%}
        #interface: 127.0.0.1
        do-ip6: no
        do-not-query-localhost: no

        access-control: 0.0.0.0/0 refuse
        {% for key, subnet in pf_subnets.items() if 'dns' in subnet.services -%}
        access-control: {{ subnet.cidr }} allow
        {% endfor -%}

        hide-identity: yes
        hide-version: yes

        # Don't cache negative responses
        neg-cache-size: 0

        # Serve zones authoritatively from Unbound to resolver clients.
        # Not for external service.
        #
        #local-zone: "local." static
        #local-data: "mycomputer.local. IN A 192.0.2.51"
        #local-zone: "2.0.192.in-addr.arpa." static
        #local-data-ptr: "192.0.2.51 mycomputer.local"
        local-zone: "{{ pf_dns_reverse_zone }}." nodefault

        # private-address: 192.168.0.0/16
        # private-address: 172.16.0.0/12
        # private-address: 10.0.0.0/8
        private-address: {{ pf_full_cidr }}
        private-domain: {{ pf_internal_dns_zone }}

        # DNS64 options, synthesizes AAAA records for hosts that don't have
        # them. For use with NAT64 (PF "af-to").
        #
        #module-config: "dns64 validator iterator"
        #dns64-prefix: 64:ff9b::/96     # well-known prefix (default)
        #dns64-synthall: no

        #root-hints: /var/unbound/etc/named.root

        # Logging
        verbosity: 1
        logfile: /var/unbound/unbound.log
        log-queries: no
        log-servfail: no
        log-replies: no

remote-control:
        control-enable: yes
        control-use-cert: no
        control-interface: /var/run/unbound.sock

#forward-zone:
#       name: "."                               # use for ALL queries
#       forward-addr: 74.82.42.42               # he.net
#       forward-addr: 2001:470:20::2            # he.net v6
#       forward-addr: 8.8.8.8                   # google.com
#       forward-addr: 2001:4860:4860::8888      # google.com v6
#       forward-addr: 208.67.222.222            # opendns.com
#       forward-first: yes                      # try direct if forwarder fails

stub-zone:
        name: "{{ pf_internal_dns_zone }}"
        stub-addr: 127.0.0.1

stub-zone:
        name: "{{ pf_dns_reverse_zone }}"
        stub-addr: 127.0.0.1
